say.rb
mutate.rb
return.rb
conditional.rb
case_statement.rb
loop_example.rb
useful_loop.rb
next_loop.rb
conditional_loop.rb
countdown.rb
perform_again.rb
practice_each.rb
iterating_over_hashes.rb
optional_parameters.rb
simple_file.txt
original_file.txt
feedzilla.json
slashdot.xml
article.csv
articles.xlsx
passing_block.rb